* {
    box-sizing: border-box;
}

#result, #query {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#result div, #query {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

#result div:hover, query {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
